<ion-header>
  <ion-toolbar>
    <ion-title>Job Search</ion-title>
    <ion-buttons slot="start">
      <ion-back-button [text]="" mode="md"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <form [formGroup]="jobSearchForm">
      <ion-item>
        <ion-label position="floating">Course</ion-label>
        <ion-input formControlName="course"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Specialization</ion-label>
        <ion-input formControlName="specialization"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Experience</ion-label>
        <ion-input formControlName="experience"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Functional Area</ion-label>
        <ion-input formControlName="functionalArea"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Country</ion-label>
        <ion-select placeholder="Select One" formControlName = "location">
          <ion-select-option *ngFor = "let country of countriesList" value="{{country.flag}}" >
            {{country.name}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Others</ion-label>
        <ion-input formControlName="others"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Please Specify</ion-label>
        <ion-input formControlName="specify"></ion-input>
      </ion-item>

      <ion-button
        (click)="onsSearch()"
        [routerLink]="['/browse']"
        expand="block"
        >SEARCH JOBS</ion-button
      >
    </form>
  </div>
</ion-content>
