<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
    <ion-buttons slot="start">
      <ion-back-button [text]="" mode="md"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id="container">
    <form [formGroup]="loginForm">
      <ion-item>
        <ion-label position="floating">Email Address</ion-label>
        <ion-input  formControlName = "emailAddress"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input formControlName = "password"></ion-input>
      </ion-item>
      <ion-button (click)="onLogin()" expand="block">Login</ion-button>
    </form>
  </div>
</ion-content>